* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'SF Pro Text', sans-serif;
}

.main {
    height: 1500px;
}

.header-info {
    display: flex;
    padding: 20px 100px 0px 700px;
    justify-content: space-between;
}

.header-info i {
    color: #E57905;
}

.header-info-list{
    font-size: 1.4rem;
}

.profile-container {
    font-size: 1.8rem;
    cursor: pointer;
    padding-left: 35%;
}

.web-cart {
    font-size: 2rem;
}

.profile-container:hover,
.content-product-tittle a:hover,
.content-coffee_title:hover,
.header-nav_list a:hover,
.header-info a:hover{
    animation: hover 0.3s both ;
}

@keyframes hover {
    from{
        color: #000;
    }
    to{
        color: coral;
    }
}

.header-phone,
.header-map {
    text-decoration: none;
    color: #000;
    margin: 0 40px;
    opacity: 0.7;
}


.header-nav {
    display: flex;
    width: 100%;
    background-color: #ffff;
    justify-content: center;
    top: 0;
    left: 0;
    position: sticky;
    height: 60px;
    z-index: 9;
    border-bottom: 1px  solid #cecece;
}

.header-nav_logo img {
    margin-right: 70px;
    padding-top: 20px;
    height: 15px;
    width: auto;
}

.header-nav_list {
    display: flex;
    list-style: none;
    font-weight: bold;
    margin-right: 200px;
}

.header-nav_list li {
    font-size: 1.5rem;
    padding: 20px 16px;
}

.header-nav_list a {
    text-decoration: none;
    color: #000;
}

.header-nav_icon {
    font-size: 0.5rem;
    margin: 5px;
}

/* Menu */
.header-nav_menu {
}

.header-nav_menu-list {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9 );
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 330px;
    left: 0;
    z-index: -1;
    list-style: none;
    transition: opacity 0.4s, transform 0.6s;
    transform: translateY(14%);
}

.header-nav_menu:hover .header-nav_menu-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
}

.header-nav_menu-list li {
    padding: 28px;
    height: 250px;
    width: 80px;
}

.header-nav_menu-list a:first-child {
    font-size: 1.7rem;
    opacity: unset;
    border-bottom: 2px solid;
}

.header-nav_menu-list a {
    margin-bottom: 15px;
    display: block;
    opacity: 0.5;
    font-size: 1.5rem;
}

/* House */
.header-nav_house-list {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.9 );
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 200px;
    left: 0;
    z-index: -1;
    list-style: none;
    transition: opacity 0.64s, transform 0.6s;
    transform: translateY(14%);
}

.header-nav_house:hover .header-nav_house-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
}

.header-nav_house-list li {
    padding: 28px;
    height: 120px;  
    width: 370px;
}

.header-nav_house-list a:first-child {
    font-size: 1.7rem;
    opacity: unset;
    border-bottom: 2px solid;
}

.header-nav_house-list a {
    margin-bottom: 15px;
    display: block;
    opacity: 0.5;
    font-size: 1.5rem;
}

@keyframes open {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

/* Content */
.content {
    margin-left: auto;
    margin-right: auto;
}

/* Product */
.content-product {
    width: 1240px;
    margin-left:auto ;
    margin-right:auto ;
    padding-left: 20px ;
}

.content-product-tittle {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 0px;
    margin: 25px 0px;
    position: relative;
}

.content-product-tittle li > a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.content-product-tittle li > a:first-child::after {
    content: "/\00a0";
    margin: 0 20px;
    color: #ccc;
    cursor: default;
    border: none;
}

/* Info Coffe */
.content-info {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}

.content-info_img{
    display: grid;
    padding: 0 15px 10px 10px;
}

.content-info_img > img {
    width: 570px;
    padding-bottom: 15px;
    height: 570px;
}

.content-info_img a > img{
    width: 100px;
    height: 100px;
    border: 1px solid #E57905;
    border-radius: 10px;
}

.content-info_coffe{
    padding: 0 15px;
    width: 570px;
}

.content-info_title {
    padding-bottom: 40px;
}

.content-info_title h3 {
    font-size: 2.6rem;
    margin-bottom: 18px;
    width: 100%;
}

.content-info_title span {
    font-size: 2.6rem;
    color: #E57905;
    font-weight: 600;
    line-height: 0.75;
    width: 100%;
}

.content-info_Size{
    padding-bottom: 25px;
}

.content-info_toping h3,
.content-info_Size h3{
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    margin-bottom: 15px;
}

.content-info_listSize {
    display: flex;
}

.icon {
    width: 20px;
    margin-right: 5px;
}

.content-info_size-big,
.content-info_size-fit,
.content-info_size-small {
    font-size: 1.4rem;
    border: 1px solid #ccc;
    margin-right: 20px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.content-toping.selected,
.content-info_size-big.selected,
.content-info_size-fit.selected,
.content-info_size-small.selected {
    background-color:#E57905;
    color: #fff;
}

.content-info_toping{
    padding-bottom: 30px;
}

.content-list-toping{
    display: flex;
    flex-wrap: wrap;
}

.content-toping {
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.7;
    border: 1px solid #ccc;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

/* Mua hàng */
.content-info-order {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    color: #fff;
    background-color: #E57905;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-info-order a{
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

/* Gỏ hàng */
#addToCartButton {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #E57905;
    background-color: #f3e5d6;
    border-radius: 6px;
    cursor: pointer;
}

#addToCartButton:hover {
    background-color: #f8c287;

}

.content-buy-icon{
    color: #E57905;
    font-size: 2.5rem;
}

#addToCartButton span {
    font-size: 2rem;
    margin-left: 5px;
}



/* Relate  coffee */
.content-relate {
    margin-left:auto ;
    margin-right:auto ;
    padding: 0 15px;
    width: 1140px;
}

.colum {
    border: 1px solid #eee;
    margin: 40px 0px;
}

.content-describe {

}

.content-relate-coffee h3,
.content-describe h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.content-describe p{
    font-size: 1.4rem;
    line-height: 24px;
}

.content-relate-coffee {
}


.content-list_coffee{
    display: flex;
    padding-bottom: 40px;
}

.content-coffee {
    margin-right: 40px;
}


.content-coffee img {
    width: 170px;
    height: 170px;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 4px rgba(1, 12, 15, 0.1) ;
}

.content-coffee a{
    text-decoration: none;
    color: #000;
}
.content-coffee_title {
    font-size: 1.6rem;
    display: block;
    margin-top: 15px;
}

.content-coffee span {
    font-size: 1.4rem;
    opacity: 0.6;
    display: block;
}










/* Footer */
.footer {
    background-color: #000000D9;
    color: #fff;
    height: 450px;
    padding: 80px 0;
    width: 100%;
}

.footer-list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1240px;
    list-style: none;
}

.footer-intro h3,
.footer-tems h3{
    font-size: 2rem;
    margin-right: 250px;
    margin-bottom: 20px;
}

.footer-intro li,
.footer-tems li {
    font-size: 1.3rem;
    padding: 15px 0;
}

.footer-info {
    font-size: 1.5rem;
    width: 20%;
}

.footer-info-col{
    margin-bottom: 20px;
    display: flex;
}
.footer-info-col i {
    margin-right: 10px;
}

.footer-info span {
    font-size:  1.3rem;
}

.footer-social_link{
    margin-left: 90px;
    font-size: 2rem;
}

.footer-col{
    list-style: none;
    font-size: 1.5rem;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.footer-col::before{
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin: 40px 0;
}

