
.content-product-tittle a:hover,
.content-relate-coffee_title:hover{
    animation: hover 0.3s both ;
}

@keyframes hover {
    from{
        color: var(--black-color);
    }
    to{
        color: var(--primary-color);
    }
}

/* Content */
#content {
    margin-left: auto;
    margin-right: auto;
}

/* Product */
.content-product {
    width: 1240px;
    margin-left:auto ;
    margin-right:auto ;
    padding-left: 20px ;
}

.content-product-tittle {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 0px;
    margin: 25px 0px;
    position: relative;
}

.content-product-tittle li > a{
    text-decoration: none;
    font-weight: bold;
    color: var(--black-color);
}

.content-product-tittle li > a:first-child::after {
    content: "/\00a0";
    margin: 0 20px;
    color: var(--text-color);
    cursor: default;
    border: none;
}

/* Info Coffe */
.content-info {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
}

.content-info_img{
    display: grid;
    padding: 0 15px 10px 10px;
}

.content-info_img > img {
    width: 570px;
    padding-bottom: 15px;
    height: 570px;
}

.content-info_img a > img{
    width: 100px;
    height: 100px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.content-info_coffe{
    padding: 0 15px;
    width: 615px;
}

.content-info_title {
    padding-bottom: 40px;
}

.content-info_title h3 {
    font-size: 2.6rem;
    margin-bottom: 18px;
    width: 100%;
}

.content-info_title span {
    font-size: 2.6rem;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 0.75;
    width: 100%;
}

.content-info_Size{
    padding-bottom: 25px;
}

.content-info_toping h3,
.content-info_Size h3{
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    margin-bottom: 15px;
}

.content-info_listSize {
    display: flex;
}

.icon {
    width: 20px;
    margin-right: 5px;
}

.content-info_size-big,
.content-info_size-fit,
.content-info_size-small {
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.7;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.content-toping.selected,
.content-info_size-big.selected,
.content-info_size-fit.selected,
.content-info_size-small.selected {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.content-info_toping{
    padding-bottom: 30px;
}

.content-list-toping{
    display: flex;
    flex-wrap: wrap;
}

.content-toping {
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.7;
    border: 1px solid var(--border-color);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

/* Mua hàng */
.content-info-order {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content-info-order a{
    margin-left: 20px;
    color: var(--white-color);
    text-decoration: none;
}

/* Gỏ hàng */
#addToCartButton {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    background-color: #f3e5d6;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

#addToCartButton:hover {
    background-color: #f8c287;

}

.content-buy-icon{
    color: var(--primary-color);
    font-size: 2.5rem;
}

#addToCartButton span {
    font-size: 2rem;
    margin-left: 5px;
}



/* Relate  coffee */
.content-relate {
    margin-left:auto ;
    margin-right:auto ;
    padding: 0 15px;
    width: 1240px;
}

.colum {
    border: 1px solid var(--colum-color);
    margin: 40px 0px;
}

.content-describe {

}

.content-relate-coffee h3,
.content-describe h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

#describeCoffee{
    font-size: 1.4rem;
    line-height: 24px;
}

.content-relate-coffee {
}


.content-relate-list_coffee{
    display: flex;
    padding-bottom: 40px;
}

.content-relate-coffee {
    margin-right: 40px;
}


.content-relate-coffee img {
    width: 170px;
    height: 170px;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 4px rgba(1, 12, 15, 0.1) ;
}

.content-relate-coffee a{
    text-decoration: none;
    color: var(--black-color);
}
.content-relate-coffee_title {
    font-size: 1.6rem;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.content-relate-coffee span {
    font-size: 1.4rem;
    opacity: 0.6;
    display: block;
}



