
.content-coffee_title:hover,
.content-home-list_info a:hover{
    animation: hover 0.3s both ;
}

@keyframes hover {
    from{
        color: var(--black-color);
    }
    to{
        color: var(--primary-color);
    }
}

/* Content */
#content {
    margin-left:auto ;
    margin-right:auto ;
}

/* List coffee */
.content-list_coffee{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    width: 1240px;
    margin-left:auto ;
    margin-right:auto ;
}

.content-coffee {
    margin: 0 20px;
}

.content-img_freeship img {
    width: 580px;
    height: 370px;
    margin: 0 20px 40px ;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 5px rgba(1, 12, 15, 0.2) ;
}

.content-coffee img {
    width: 270px;
    height: 270px;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 0px #00000040
}

.content-coffee a{
    text-decoration: none;
    color: var(--black-color);
}
.content-coffee_title {
    font-size: 1.6rem;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.content-coffee span {
    font-size: 1.4rem;
    opacity: 0.6;
    display: block;
}

/* Review Coffee */
.content-review_tea {
    padding: 40px 0;
    position: relative;
}

.content-review-img {
    background: url(https://file.hstatic.net/1000075078/file/desktop_bg_350cd1de6f894c64825cd4d961866cb0.png) top center / contain no-repeat;
    height: 600px;
    width: 1300px;
    margin-left:auto ;
    margin-right:auto ;
}
.content-review-img img {
    position: absolute;
    left: 50%;
    top: 13%;
}

.content-review_tea-text {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.7rem;
    line-height: 25px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
    width: 33%;
    margin-top: 27px;
}

.content-review_tea-try {
    position: absolute;
    left: 50%;
    top: 81%;
    width: 32.5%;
    height: 40px;
    background-color: #778B37;
    color: var(--white-color);
    border: 0;
    border-radius: 8px;
    font-size: 1.8rem;
    cursor: pointer;
}

.content-review_tea-try:hover {
    background-color: #6b880b;
}


/* Store */
.content-store {
    display: flex;
    padding: 40px 0;
    width: 100%;
    overflow: hidden;
}


.content-store-list{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 17% ;
}

.storeImage{
    width: 1080px;
    height: 610px;
    border-radius: 10px 0 0 10px;
}

.content-store-text {
    width: 500px;
    height: 100%;
}

.content-store_title {
    line-height: 40px;
    width: 60%;
    font-size: 2.8rem;
    font-weight: 600;
}

.content-store_description {
    font-size: 1.6rem;
    width: 70%;
    margin-bottom: 70px;
    margin-top: 10px;
    line-height: 1.4;
}

.content-store_find-more a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;

}

.content-store_find-more {
    position: relative;
    overflow: hidden;
    width: 55%;
    height: 50px;
    background-color: #C8070F;
    padding: 8px 25px;
    font-weight: bold;
    border: 1px solid var(--white-color);
    border-radius: 8px;
    cursor: pointer;
    transition: color 3s ease;
}

.content-store_find-more::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    transition: left 2s ease;
    z-index: 0;
    border: 1px solid #abd22b;
}

.content-store_find-more:hover::after {
    left: 100%;

}

.content-btn_left {
    background-color: var(--white-color);
    border: 2px solid var(--black-color);
    border-radius: 15px;
    width: 5%;
    height: 25px;
    margin: 16px 16px 0 0;
}

.content-btn_right {
    background-color: var(--white-color);
    border: 2px solid var(--black-color);
    width: 10%;
    border-radius: 15px;
    width: 5%;
    height: 25px;
}

.content-btn_left:hover,
.content-btn_right:hover{
    background-color: #ff4851;
    cursor: pointer;
    color: var(--white-color);
}

.content-store-img {
    position: relative;
    display: flex;
    align-items: center;
}

.content-store-img_left ,
.content-store-img_right{
    position: absolute;
    top: 50%;
    width: 20px;
    height: 30px;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.content-store-img_right {
    right: 5%;
}

.content-store-img_left {
    left: 5%;
}

/* Home */
.content-home{
    background-color: #FFF7E6;
    height: 1570px;
    width: 100%;
}

.content-home-container{
    margin: 0 350px;
}

.content-home-container h3{
    margin: 30px 0;
    display: block;
    border-left: 4px solid var(--primary-color);
    padding-left: 20px;
    font-size: 2.5rem;
}

.content-home-title{
    display: flex;
    padding-top : 40px;
    font-size: 2.8rem;
    justify-content: center;
    text-align: center;
}

.content-home-title h2 {
    font-size: 3rem;
    font-weight: 600;
}

.content-home-title img {
    margin-right: 8px;
    margin-top: 1px;
    max-width: 16px;
    max-height: 29px;
}

.content-home-list{
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.content-home-list li{
    margin-right: 30px;
}

.content-home-list_info{
    width: 100%;
    margin: 2rem 0;
}

.content-home-list img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    transition: transform 0.3s ease;
}

.content-home-list img:hover{
    transform: scale(0.95);
}

.content-home-list_info span{
    font-size: 1.5rem;
    opacity: 0.8;
}

.content-home-list_info a{
    overflow: hidden;
    text-decoration: none;
    font-size: 1.78rem;
    display: block;
    width: 370px;
    height: 20px;
    margin: 10px 0;
    color: var(--black-color);
    font-weight: 600;
}

.content-home-list_info p {
    font-size: 1.5rem;
    line-height: 1.4;
}

